.header {
    color: purple;
}

.tableMain {
    min-height: 300px;
    max-height: 900px;
    width: 800px;
    border: 2px solid black;
}

table tbody td {
    border-bottom: 1px dotted black;
    padding: 5px;
    text-align: center;
}